/*--------------------------------------------
         --==OVERVIEW PAGE==--
----------------------------------------------*/
/*----------------------------------------------
QverviewPage -> QToolButton START
----------------------------------------------*/
QWidget#toolBoxWidget .QToolButton {
  border:  1px solid #74B2FE;
  background-color: #061834;
  font-size:12px;
  padding:4px 6px;
  color: #FFFFFF;
  border-radius: 12px;
  }

  QWidget#toolBoxWidget .QToolButton:hover {
    border:  1px solid #74B2FE;
    background-color: #0088D0;
    font-size:12px;
    padding:4px 6px;
    color: #FFFFFF;
    border-radius: 12px;
    
  }
  
  QWidget#toolBoxWidget QToolButton#toolButtonBlog {
    qproperty-icon: url(':/icons/blog_white');
  }
  
  QWidget#toolBoxWidget QToolButton#toolButtonDocs {
    qproperty-icon: url(':/icons/docs_white');
  }
  
  QWidget#toolBoxWidget QToolButton#toolButtonExchanges {
    qproperty-icon: url(':/icons/cmc_white');
  }

  QWidget#toolBoxWidget QToolButton#toolButtonExplorer {
    qproperty-icon: url(':/icons/explorer_white');
  }

  QWidget#toolBoxWidget QToolButton#toolButtonRoadmap {
    qproperty-icon: url(':/icons/roadmap_white');
  }


  QWidget#toolBoxWidget QToolButton#toolButtonDiscord {
    qproperty-icon: url(':/icons/discord_white');
  }

  QWidget#toolBoxWidget QToolButton#toolButtonWallet {
    qproperty-icon: url(':/icons/download_white');
  }

  QWidget#toolBoxWidget QToolButton#toolButtonWebTool {
    qproperty-icon: url(':/icons/webtool_white');
  }

  QWidget#toolBoxWidget QToolButton#toolButtonWhitePaper {
    qproperty-icon: url(':/icons/whitepaper_white');
  }

  QWidget#toolBoxWidget QToolButton#toolButtonFaq {
    qproperty-icon: url(':/icons/faq_white');
  }

/* OverviewPage QToolButton END */

/* OverviewPage Balance Labels */

QWidget#balance_container .QLabel {
  color: #6f80ab;
}

#balance_container #labelBalance, #balance_container #labelUSDTotal, #balance_container #labelBTCTotal {
  color: #F2F2F2;
}

#balance_container #seperatorLabel, #balance_container #balanceSeperatorLabel_1, #balance_container #balanceSeperatorLabel_2 {
  background-color: #6f80ab;
}

QWidget#bottomValueWidget .QLabel {
  color: #6f80ab;
}

/* OverviewPage SEND/RECEIVE/MORE Button */
#buttonWidget #buttonSend, #buttonWidget #buttonReceive  { 
  border:  1px solid #6f80ab;
  background-color: transparent;
  font-size:12px;
  min-height: 28px;
  padding:4px 6px;
  color: #4D9BD9;
  border-radius: 18px;
  }
  
  #buttonWidget #buttonSend:pressed, #buttonWidget #buttonReceive:pressed  {
    border:  1px solid #74B2FE;
    background-color: #0088D0;
    font-size:12px;
    padding:4px 6px;
    color: #FFFFFF;
    border-radius: 18px;
  }

  #buttonWidget #buttonSend:hover, #buttonWidget #buttonReceive:hover  {
    border: 1px solid #74B2FE;
    }

#recentWidget #buttonMore {
  border:  1px solid #6f80ab;
  background-color: transparent;
  font-size:12px;
  padding:4px 6px;
  color: #4D9BD9;
  border-radius: 12px;
}
 
#recentWidget #buttonMore:pressed {
  border:  1px solid #74B2FE;
    background-color: #0088D0;
    font-size:12px;
    padding:4px 6px;
    color: #FFFFFF;
  border-radius: 12px;
}

#recentWidget #buttonMore:hover {
  border:  1px solid #74B2FE;
    }

/*----------------------------------------*/

/*OverviewPage Recent Transactions */
QWidget#widget_header {
background-color: #252F49;
}

QWidget#widget_header .QLabel{
  color: #6f80ab;
}

QWidget#recentWidget .QLabel {
  color: #6f80ab;
  font-size: 14px;
}

OverviewPage .QListView {
  background-color: transparent;
  border : none;
  /*alternate-background-color: rgba(23,46,76, 1);*/
  /*font-weight: lighter;
  font-size:14px;
  color: #6f80ab;
  margin-top:0px;
  margin-left:-40px;
  margin-right:-40px;
  padding-right: 10 px;
  margin-bottom: 9px;
  
  */
  }
  


/* BGcolor #FFFFFF */
/* Menu BG Color #01094C */

/********* Main Window ***********/

WalletFrame {
  /*background-color: #051631;;*/
  background-color: QLinearGradient(x1: 0, y1: 0, x2: 1, y2: 1, stop: 0 #0C2448, stop: 1 #000D20);
	border-top:0px solid #000;
	margin:0;
	padding:0;
	color: #6f80ab;
}

.QFrame {
	background-color: transparent;
	border: 0px solid #333;
}


/*--------------------------------------------
Status Bar CSS
--------------------------------------------*/
QStatusBar{
  background: #e4ebf5;
  color: #6b80af;
}
QStatusBar QLabel{
  border: 1px solid transparent;
  color: #6b80af;
  font: 10pt;
}
QStatusBar::item {
  border: none;
}
QStatusBar QLabel::disabled{
  border: 1px solid transparent;
  color: rgba(107, 128, 175, 20%);
}

/*--------------------------------------------
MenuBar CSS
--------------------------------------------*/
QMenuBar {
  background: #e4ebf5;
}
QMenuBar::item {
  background-color: transparent;
  padding: 5px 6px;
  border-radius: 4px;
  color: #6b80af;
}
QMenuBar::item:selected {
  border: none;
  color: #26a1e3;
}
QMenuBar::item:disabled {
  color: rgba(107, 128, 175, 20%);
}

/*--------------------------------------------
Menu CSS
--------------------------------------------*/
QMenu{
  border: none;
}
QMenu::item {
  border: none;
  padding: 5px 32px;
  background-color: #d5dde9;
  color: #6b80af;
}
QMenu::item:selected {
  background-color: #6b80af;
  color:#ffffff;
}
QMenu::separator{
  height: 1px;
  background-color: #c3cdd9;
}
QMenu::icon{
  margin-left: 15px;
}
QMenu::item:disabled {
  color: rgba(107, 128, 175, 30%);
}

/*--------------------------------------------
ToolBar CSS
--------------------------------------------*/
QToolBar {
background-color: #051937;
border:none;
height:100%;
padding-top:20px
}

QToolBar > QToolButton {
background-color:transparent;
font-size:12px;
font-weight: normal;
color: #F2F2F2;
min-width:170px;
border: none;
padding-left: 20px;
padding-right: 0px;
padding-top:10px;
width:100%;
padding-bottom:10px;
border-right : 3px solid transparent;


}

QToolBar > QToolButton:checked {
background-color: #0088D0;
font-size:12px;
color: #F2F2F2;
border-right : 3px solid white;
}

QToolBar > QToolButton:checked:hover {
background-color: #0088D0;
    color: #F2F2F2;
    border-right : 3px solid  white;
}


QToolBar > QToolButton:hover {
background-color:#58A7E6;
    color: #F2F2F2;
    border-right : 3px solid transparent;
}


/*--------------------------------------------
QPushButton CSS
--------------------------------------------*/

QPushButton {
  
    border:  1px solid #74B2FE;
    background-color: transparent;
    font-size:12px;
    min-height: 20px;
    padding:4px 6px;
    color: #F2F2F2;
    border-radius: 14px;
    }
    
QPushButton:pressed  {
    border:  1px solid #74B2FE;
    background-color: #0088D0;
    font-size:12px;
    padding:4px 6px;
    color: #F2F2F2;
    border-radius: 14px;
    }

QPushButton::disabled {
    color: rgba(79, 159, 221, 40%);
    background: rgba(25, 40, 73, 60%);
    border: 1px solid rgba(70, 88, 127, 40%);
  }

/*--------------------------------------------
Progress Bar CSS
--------------------------------------------*/
QProgressBar {
  background-color: #f2f7fd;
  font: 10pt;
  color: #94ccf2;
  border-radius: 0px;
  text-align: center;
}
QProgressBar::chunk {
  background-color: #26a1e3;
  border-radius: 0px;
}
QProgressBar::disabled {
  color: rgba(107, 128, 175, 20%);
}
QToolTip { 
	color: #000000; background-color: #FFFFE1; border: 1px solid #000000; 
}

/*--------------------------------------------
Table View CSS
--------------------------------------------*/
QHeaderView{
  color: #6f80ab;
  background-color: transparent;
  border: none;
}
QHeaderView:section{
  padding: 6px 20px 6px 6px;
  border: none;
  background-color: #252f49;
}
QHeaderView::down-arrow {
  image: url(":/icons/down_arrow");
  width: 6px;
  height: 4px;
  margin-right: 5px;
  margin-bottom: 1px;
}
QHeaderView::up-arrow {
  image: url(":/icons/up_arrow");
  width: 6px;
  height: 4px;
  margin-right: 5px;
  margin-bottom: 1px;
}
QTableView{
  color: #6f80ab;
  background-color: transparent;
  border: none;
  font: normal;
  margin-bottom: 10px;
  qproperty-showGrid: false;
  qproperty-alternatingRowColors: false;
  qproperty-selectionBehavior: SelectRows;
}
QTableView::item{
  border: none;
}
QTableView::item:selected{
  qproperty-showGrid: false;
  background: #4f9fdd;
  color: #ffffff;
}
QHeaderView::disabled{
  color: rgba(111, 128, 171, 20%);
}
QHeaderView::down-arrow:disabled {
  image: url(":/icons/down_arrow_disabled");
  width: 6px;
  height: 4px;
}
QHeaderView::up-arrow:disabled {
  image: url(":/icons/up_arrow_disabled");
  width: 6px;
  height: 4px;
}
QTableView::disabled{
  color: rgba(111, 128, 171, 20%);
}

QPushButton#exportButton {
    margin-right: 35px ;
}

QLabel#transactionSumLabel {
    color: #6f80ab;
    font-size: 12px;
}

QLabel#transactionSum {
    color: #6f80ab;
    font-size: 12px;
    
}

/*--------------------------------------------
Scroll Area CSS
--------------------------------------------*/
QAbstractScrollArea::corner {
    background: #000D20;
    border: 0px;
}
/*--------------------------------------------
Scroll Bar Vertical CSS
--------------------------------------------*/
QScrollBar{
    background: none;
}
QScrollBar:up-arrow:vertical, QScrollBar::down-arrow:vertical {
    qproperty-visible: false;
}
QScrollBar::add-line:vertical {
    qproperty-visible: false;
    border: none;
    background: none;
    height: 0px;
}
QScrollBar::sub-line:vertical {
    qproperty-visible: false;
    border: none;
    background: none;
    height: 0px;
}
QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    background: rgba(255, 255, 255, 0.0);
}
QScrollBar:vertical {
    border-radius: 0px;
    background: transparent;
    width: 16px;
    padding: 5px 4px;
}
QScrollBar::handle:vertical {
    border: none;
    background: #49587a;
    border-radius: 4px;
    min-height: 45px;
}
QScrollBar::handle:vertical:disabled {
    background: rgba(29, 40, 67, 40%);
}
QTextEdit QScrollBar:vertical {
    border-radius: 0px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    background: #051937;
    width: 12px;
    padding: 5px 0px 5px 2px;
}
QTextEdit QScrollBar::handle:vertical {
    border: none;
    background: #49587a;
    border-radius: 5px;
    min-height: 30px;
}
QTextEdit QScrollBar::handle:vertical:disabled {
    background: rgba(29, 40, 67, 40%);
}
QPlainTextEdit QScrollBar:vertical {
    border-radius: 0px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    background: #051937;
    width: 12px;
    padding: 5px 0px 5px 2px;
}
QPlainTextEdit QScrollBar::handle:vertical {
    border: none;
    background: #49587a;
    border-radius: 5px;
    min-height: 30px;
}
QPlainTextEdit QScrollBar::handle:vertical:disabled {
    background: rgba(29, 40, 67, 40%);
}
QComboBox QScrollBar:vertical {
    border-radius: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #49587a;
    width: 10px;
    padding: 0px 0px;
}
QComboBox QScrollBar::handle:vertical {
    border: none;
    background: #051937;
    border-radius: 5px;
    min-height: 30px;
}
QComboBox QScrollBar::handle:vertical:disabled {
    background: rgba(29, 40, 67, 40%);
}
/*--------------------------------------------
Scroll Bar Horizontal CSS
--------------------------------------------*/
QScrollBar:left-arrow:horizontal, QScrollBar::right-arrow:horizontal {
    qproperty-visible: false;
}
QScrollBar::add-line:horizontal {
    qproperty-visible: false;
    border: none;
    background: none;
    height: 0px;
}
QScrollBar::sub-line:horizontal {
    qproperty-visible: false;
    border: none;
    background: none;
    height: 0px;
}
QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {
    background: rgba(255, 255, 255, 0.0);
}
QScrollBar:horizontal {
    border-radius: 0px;
    background: transparent;
    height: 16px;
    padding: 4px 5px;
}
QScrollBar::handle:horizontal {
    border: none;
    background: #49587a;
    border-radius: 4px;
    min-width: 45px;
}
QScrollBar::handle:horizontal:disabled {
    background: rgba(29, 40, 67, 40%);
}

/*--------------------------------------------
Combo Box CSS
--------------------------------------------*/
QComboBox {
  border: 1px solid #49587A;
  border-radius: 4px;
  background-color: #1A233A;
  color: #6f80ab;
  padding: 4px;
  padding-left: 10px;
  padding-right: 8px;
  combobox-popup: 0;
}
QComboBox:hover {
  border: 1px solid #5d6b8f;
}
QComboBox:drop-down {
  border: 0px;
  border-left: 1px solid #49587A;
  margin-left: -8px;
}
QComboBox:down-arrow {
  image: url(":/icons/down_arrow");
  width: 6px;
  height: 10px;
  top: 1px;
}
QComboBox QAbstractItemView::item {
  background-color: #49587a;
  color: #1A233A;
  padding: 4px;
  padding-left: 10px;
}
QComboBox QAbstractItemView::item:selected {
  background-color: #1A233A;
  color: #ffffff;
}
QComboBox QAbstractItemView{
  background-color: #49587a;
  border: none;
  border-radius: 6px;
  padding: 6px 0px;
  margin-top: 5px;
  margin-bottom: 3px;
}
QComboBox::disabled {
  border: 1px solid rgba(23, 35, 62, 40%);
  color: rgba(111, 128, 171, 20%);
}
QComboBox:drop-down:disabled {
  border-left: 1px solid rgba(23, 35, 62, 40%);
}
QComboBox::down-arrow:disabled {
  image: url(":/icons/down_arrow_disabled");
}

QLineEdit, QValidationEdit {
  border: 1px solid #49587A;
  border-radius: 4px;
  background-color: #1a233a;
  color: #6f80ab;
  padding: 4px;
  font-size: 14px;
}
QLineEdit::hover:!read-only{
  border: 1px solid #5d6b8f;
}
QLineEdit::focus:!read-only{
  border: 1px solid #5d6b8f;
}
QLineEdit::disabled{
  border: 1px solid rgba(23, 35, 62, 40%);
  color: rgba(111, 128, 171, 20%);
}
    
placeholder { font-size: 10pt; color: #666666; font-family: "Roboto"; }
    

/*--------------------------------------------
Spin Box CSS
--------------------------------------------*/
QAbstractSpinBox {
  padding: 4px;
  background-color: #1a233a;
  background-position: right;
  background-repeat: no-repeat;
  border: 1px solid #49587A;
  border-radius: 4px;
  font-size: 14px;
  color: #6f80ab;
  padding-left: 12px;
}
QAbstractSpinBox:hover {
  border: 1px solid #5d6b8f;
}
QAbstractSpinBox::up-button {
  border: none;
  border-left: 1px solid #49587A;
  width: 22px;
  background-color: transparent;
  border-top-right-radius: 4px;
}
QAbstractSpinBox::down-button {
  border: none;
  border-left: 1px solid #49587A;
  margin-top: -1px;
  width: 22px;
  background-color: transparent;
  border-bottom-right-radius: 4px;
}
QAbstractSpinBox::up-arrow {
  image: url(":/icons/up_arrow");
  width: 6px;
  height: 4px;
  margin-right: 5px;
  margin-top: 5px;
}
QAbstractSpinBox::down-arrow {
  image: url(":/icons/down_arrow");
  width: 6px;
  height: 4px;
  margin-right: 5px;
  margin-bottom: 5px;
}
QAbstractSpinBox::up-arrow:hover{
  image: url(":/icons/up_arrow_hover");
}
QAbstractSpinBox::down-arrow:hover{
  image: url(":/icons/down_arrow_hover");
}
QAbstractSpinBox::disabled {
  border: 1px solid rgba(23, 35, 62, 40%);
  color: rgba(189, 189, 189, 10%);
}
QAbstractSpinBox::up-button:disabled {
  border-left: 1px solid rgba(23, 35, 62, 40%);
}
QAbstractSpinBox::down-button:disabled {
  border-left: 1px solid rgba(23, 35, 62, 40%);
}
QAbstractSpinBox::up-arrow:disabled,
QAbstractSpinBox::up-arrow:off {
  image: url(":/icons/up_arrow_disabled");
}
QAbstractSpinBox::down-arrow:disabled,
QAbstractSpinBox::down-arrow:off {
  image: url(":/icons/down_arrow_disabled");
}

/* ReceiveCoins Dialog */
#ReceiveCoinsDialog .QLabel {
  color:  #6f80ab;
}

/* SendCoinsEntry*/
/*QStackedWidget#SendCoinsEntry {
  background-color: #081C3B;
  }
*/
QStackedWidget#SendCoinsEntry  .QLabel{
  color:  #6f80ab;
}

QStackedWidget#SendCoinsEntry {
  border: 0px solid transparent;
}

/*SendCoins Dialog*/


QDialog#SendCoinsDialog .QLabel {
  color:  #6f80ab;
}

QDialog#SendCoinsDialog #labelBalance {
  color:  #f2f2f2;
}

QDialog#SendCoinsDialog #sendCoinsSeperatorLabel {
  background-color:  #6f80ab;
}


QDialog .QWidget {
  background-color: transparent;
}

.QScrollArea {
  background:transparent;
  border:0px;
  }